
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@300;400;500;700&display=swap');

body{
    background-color: #131722;
}

h1,h2,h3,h4,h5,h6,i{
    color: #fff;
}

a,a:hover{
    color: #fff;
    text-decoration: none;
}

input,label{
    background-color: rgba(7, 15, 36, 0.479) !important;
    color: #fff !important;
}